-- Hudmap config example (defaults)

-- Hudmap refresh rate
HUDMAP_UPDATE_TIME = 2

-- Pixel size of the player marker texture
HUDMAP_MARKER_SIZE = {x=15, y=15}

-- Allow other player markers
HUDMAP_PLAYER_MARKERS = true

-- Allow other player nametags
HUDMAP_PLAYER_NAMETAGS = true

-- Default user preferences
HUDMAP_DEFAULT_PREFS = {visible=false, scale=1, players=false, names=false}

-- Karsthafen example maps

hudmap:register_map("world", {
	size = {x=320, y=320},
	minp = {x=-2000, y=-1000, z=-2000},
	maxp = {x=2000, y=30000, z=2000},
	texture = "karsthafen_world.png",
})

hudmap:register_map("karsthafen", {
	size = {x=320, y=320},
	minp = {x=346, y=-1000, z=306},
	maxp = {x=666, y=30000, z=626},
	texture = "karsthafen_town.png",
})

hudmap:register_map("tennis_courts", {
	size = {x=320, y=320},
	minp = {x=63, y=-1000, z=-361},
	maxp = {x=383, y=30000, z=-41},
	texture = "karsthafen_tennis.png",
})

hudmap:register_map("spawn", {
	size = {x=320, y=320},
	minp = {x=-61, y=-1000, z=-64},
	maxp = {x=67, y=30000, z=64},
	texture = "karsthafen_spawn.png",
})
